<form action="/new" method="POST">
  <div>
    <label for="name">名稱* :
      <input type="text" name="name" {{#if record}}value="{{record.name}}" {{/if}}>
    </label>
  </div>

  <div>
    <label for="date">日期* :
      <input type="date" name="date" {{#if record}}value="{{record.date}}" {{/if}}>
    </label>
  </div>

  <div>
    <label for="category">類別* :
      <select name="category" id="category">
        <option value="家居物業" {{#eq record.category "家居物業"}}selected{{/eq}}>家居物業</option>
        <option value="交通出行" {{#eq record.category "交通出行"}}selected{{/eq}}>交通出行</option>
        <option value="休閒娛樂" {{#eq record.category "休閒娛樂"}}selected{{/eq}}>休閒娛樂</option>
        <option value="餐飲食品" {{#eq record.category "餐飲食品"}}selected{{/eq}}>餐飲食品</option>
        <option value="其他" {{#eq record.category "其他"}}selected{{/eq}}>其他</option>
      </select>
    </label>
  </div>

  <div>
    <label for="amount">金額* :
      <input type="number" name="amount" min="0" {{#if record}}value="{{record.amount}}" {{/if}}>
    </label>
  </div>

  <button type="submit">Save</button>
  <a href="/">back</a>
</form>